# macOS
.DS_Store

# CMake build folders
/build/
/build-*/
/cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.ninja
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
*.pch
*.pdb
*.ilk
*.app
*.dSYM/

# CPM/CPM.cmake
cpm-package-lock.cmake

# PcapPlusPlus submodules and build
_deps/

# User/editor files
*.swp
*.swo
*.bak
*.tmp
*.log
*.user
*.idea/
.vscode/

# Reports
reports/*.html
reports/*.pdf
